{{#if (eq this.qno "result")}}

    <h1>your score : {{this.score}}</h1>
    
    <button type = "button" {{on "click" this.toHome}}>home</button>
    
{{else}}

    <h1 style="float: right;" {{did-insert this.quizTimer}}>Time left: {{this.count}} secs</h1>

    <h1 class="h1">{{this.model.question}}</h1><br>

    {{#if this.showSelected}}

        <h1 style="float: right;">Previously selected: {{this.selected}}</h1>

    {{/if}}

    {{#each this.model.choice as |temp|}}

        <input class = "ans" name = "ans" type = "radio" value = {{temp}} {{on "click" (fn this.userChoice temp)}}>{{temp}}<br>

    {{/each}}

    <br><button type="button" {{on "click" this.next}}>{{this.btnValue}}</button>

    {{#if (gt this.qno 1)}}

        <button type="button" {{on "click" this.previous}}>Previous</button>

    {{/if}}
    
{{/if}}