{{page-title "Index"}}
<SelectQuestion @rte = "Trivia" @mdl = "1" @qname = "Trivia" />
<SelectQuestion @rte = "Physics" @mdl = "1" @qname = "Physics" />
<SelectQuestion @rte = "Economics" @mdl = "1" @qname = "Economics" />
<SelectQuestion @rte = "Mathametics" @mdl = "1" @qname = "Mathametics" />
{{outlet}}